<div class="container bg-white p-4 mt-4 border">
  <div class="row title-row">
    <div class="col-12 title">
      <h3>Notes</h3>
    </div>
  </div>

  <div class="row pt-2 content-box">

    <div class="col-md-4 col-sm-12 list-container d-flex">
      <div *ngFor="let data of datalist | async"
        class="item-container border d-flex justify-content-between align-items-center">
        <div class="item-content ml-2 py-2">
          <div class="item-title"> {{data.title}}
          </div>
          <div class="item-desc">{{data.body}}</div>
        </div>

        <button type="button" (click)="removeItem(data.id)" class="btn-close mr-2" aria-label="Close">&#x2715;</button>
      </div>
    </div>

    <div class="col-md-8 col-sm-12 create-container" style="height:100%">
      <form (ngSubmit)="addItem(); form.reset();" #form="ngForm">
        <div class="form-group">
          <label class="form-label" for="title">Title</label>
          <input type="text" class="form-control" [(ngModel)]="body.title" id="title" name="title" required
            #title="ngModel">


          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">

            <div *ngIf="title.errors.required">
              Name is required.
            </div>
          </div>

          <label class="form-label" for="body">Body</label>
          <div class="position-relative">
            <textarea class="form-control" [(ngModel)]="body.body" id="body" name="body" required
              #body1="ngModel">Enter text here...</textarea>
            <div (click)="clear()" class="refresh-icon">&#x21bb;</div>
            <div *ngIf="body1.invalid && (body1.dirty || body1.touched)" class="alert alert-danger">

              <div *ngIf="body1.errors.required">
                Body is required.
              </div>
            </div>
          </div>



          <button class="btn btn-primary float-right mt-3" [disabled]="!form.valid" type="submit">save</button>

        </div>
      </form>
    </div>
  </div>
</div>